/* slider
----------------------------------------------------------*/
.slider {
    border: 0px solid #ccc;
    padding: 0px;
}

.slide > * {
    max-width: 100%;  max-height:200px;
}


.es-caption {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 14px;
    padding: 16px;
    margin: 10px;
    width: auto;
    left: 0;
    right: 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.3);
}
ul.es-pager {
    display: block;
    width: 100%;
    text-align: center;
    margin: 7px 0;
    padding: 0;
    line-height: 0px;
}
ul.es-pager li {
    display: inline-block;
    margin: 2px;
    padding: 0;
    height: 7px;
    width: 7px;
    cursor: pointer;
	border: 2px solid #888;
	border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
}
ul.es-pager li:hover, ul.es-pager li.act {
    background-color: #888;
}
ul.es-pager li.act {
    cursor: default;
}